{% extends 'base.html' %}
{% block title %}
<title>チャット - {{ friend }}
</title>
{% endblock %}

{% block body %}
<div class="bg-main">
    <div class="charroom__child-wrap">
        {% with user_name=friend, is_chat=True, friend=friend %}
        {% include 'header.html' %}
        {% endwith %}
        <div class="header-bg-main" class="header-bg"></div>

        <div class="chatroom__contents">
            {% for message in messages %}
                {% if child_id == message.child_id %}
                    <div class="chatroom__contents-my-message">
                        <p class="chatroom__contents-text">
                            {{ message.message_content }}
                        </p>
                    </div>
                {% else %}
                    <div class="chatroom__contents-friend-message">
                        <p class="chatroom__contents-text">
                            {{ message.message_content }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- 入力フォーム -->
    <div>
        <form action="/child/channel/{{channel_id}}/messages" method="post" class="chatroom__input-container-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <textarea name="message" id="auto-grow" rows="1" placeholder="メッセージを入力してください" required class="chatroom__input-container-text"></textarea>
            <button type="submit" class="chatroom__input-container-button">
                <img src="{{ url_for('static',filename='img/send-message-icon.webp') }}" alt="送信">
            </button>
        </form>
    </div> 
    <script>
        // ページの読み込み時スクロールを一番下に
        window.onload = function(){
            setTimeout(() => {
            window.scrollTo(0, document.body.scrollHeight);},
            0)
        }
        // テキストエリアを可変に変更
        const textarea = document.getElementById('auto-grow');
        textarea.addEventListener('input', () => {
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 'px';
          });
    </script>
</div>
{% endblock %}