{% extends 'base.html' %}
{% block title %}
<title>チャット - {{ friend }}
</title>
{% endblock %}

{% block body %}
<div class="chatroom bg-main">
    <div class="dashboard__child-wrap">
        {% with user_name=friend, is_chat=True, friend=friend %}
        {% include 'header.html' %}
        {% endwith %}
        <div class="header-bg"></div>

        <div class="chatroom__contents">
            {% for message in messages %}
                {% if child_id == message.child_id %}
                    <div class="chatroom__contents-my-message">
                        <p class="chatroom__contents-text">
                            {{ message.message_content }}
                        </p>
                    </div>
                {% else %}
                    <div class="chatroom__contents-friend-message">
                        <p class="chatroom__contents-text">
                            {{ message.message_content }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- 入力フォーム -->
    <div class="chatroom__input-container">
        <form action="/child/channel/{{channel_id}}/messages" method="post" class="chatroom__input-container-form">
            <textarea name="message" placeholder="メッセージを入力してください" required class="chatroom__input-container-text"></textarea>
            <button type="submit" class="chatroom__input-container-button">
                <img src="{{ url_for('static',filename='img/send-message-icon.webp') }}" alt="送信">
            </button>
        </form>
    </div> 
</div>
<!-- JavaScriptで実装
1 ページが一番下にスクロースされた状態で画面を表示
2 テキストエリアで改行された際にテキストエリアを上に拡張
3 メッセージ送信が失敗した際の表示
4 リアルタイムでの表示
5 メッセージ件数が多い場合どうするか（上にスクロールで表示させる）
6 スマホでキーボードを開いた際にテキストエリアをキーボードの上に（スマホでやってみると元から出来た） -->
{% endblock %}