{% extends 'base.html' %}
{% block title %}
<title>子どもダッシュボード?
</title>
{% endblock %}

{% block body %}
<div class="dashboard__child bg-main">
    <div class="dashboard__child-container">
        {% include 'header.html' %}
        <div class="dashboard__child-greeting">
            <p class="dashboard__child-greeting-name">こんにちは、{{ child.child_user_name }}さん</p>
            <p class="dashboard__child-greeting-id">あなたのIDは、{{ child.friend_child_user_id }}です</p>
        </div>
        <div class="dashboard__child-add-friends">
            <h2>友だち</h2>
            <!-- 子どもアカウント追加ボタン -->
		    <a href="{{url_for('add_child_friends')}}" class="dashboard__child-add-friends-button">
		        <span class="dashboard__child-add-friends-icon">+</span>
			    <span class="dashboard__child-add-friends-text">友だちを追加</span>
		    </a>
	    </div>
    </div>
    <ul class="dashboard__child-friends-list">
        {% for friend in friends %}
        <li>
            <form action="/child/channel/{{friend.channel_id}}" method="POST">
                <input type="hidden" name="channel_id" value="{{friend.channel_id}}">
                <button type="submit">
                    <span class="dashboard__child-first-letter">{{friend.child_user_name[0]}}</span>
                    <span class="dashboard__child-full-name">{{friend.child_user_name}}</span>
                </button>
            </form>
            <a href="/menu/{{friend.friend_id }}">•••</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}