<!DOCTYPE html>
<html lang='ja'>
	<head>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		{% block title %}{% endblock %}
		<meta name='description' content='' />
		<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" sizes="32x32">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/destyle.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/parent.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/child.css') }}"/>
	</head>
	<body>
		{%block body %}{% endblock %}
	</body>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>