{% extends 'base.html' %}
{% block title %}
<title>ログイン</title>
{% endblock %}

{% block body %}
<div class="login">
	<div class="login__container">
		<p class="signup__title">保護者アカウントの登録</p>
		<form class="login__form" action="/signup/parent" method="post">
			<div class="login__form-group">
				<label for="email" class="login__label">メールアドレス</label>
				<input type="email" id="email" name="email" class="login__input" placeholder="sample@sample.com" value="{{ email|default('') }}">
			</div>
			<div class="login__form-group">
				<label for="parent_user_name" class="login__label">ユーザー名</label>
				<input type="text" id="parent_user_name" name="parent_user_name" class="login__input" placeholder="山田花子" value="{{ parent_user_name|default('') }}">
			</div>
			<div class="login__form-group">
				<label for="password" class="login__label">パスワード</label>
				<input type="password" id="password" name="password" class="login__input">
			</div>
			<div class="login__form-group">
				<label for="password_confirmation" class="login__label">パスワード（確認用）</label>
				<input type="password" id="password_confirmation" name="password_confirmation" class="login__input">
			</div>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div class="flash-messages">
						{% for message in messages %}
							<div class="flash-message">
								{{ message }}
							</div>
						{% endfor %}
					</div>
				{% endif %}
			{% endwith %}
			<button type="submit" class="login__submit-btn submit-btn hover">サインイン</button>
		</form>
		
		<div class="login__links">
			<p href="#" class="login__link login__link--register">すでにアカウントをお持ちですか？<a href="/login" class="login__link-text hover">こちら</a></p>
		</div>
	</div>
</div>
{% endblock %}