.chatroom__child-wrap {
	max-width: 480px;
	margin: auto;
	height: 100dvh;
    background-color: var(--color-bg-main);
}
.header-bg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    background-color: var(--color-bg-main);
    width: 100%;
    margin: 0% auto;
    z-index: -1;
}
.header-bg-main{
    position: fixed;
    top: 0;
    height: 12px;
    background-color: var(--color-bg-main);
    width: 100%;
    margin: 0% auto;
}
.chatroom__friend-name{
    display: flex;
    width: 93%;
    max-width: 480px;
    height: 67px;
    margin: 11px auto ;
    align-items: center;
}
.chatroom__home-button{
    font-size: 20px;
    font-weight: 900;
}
.chatroom__first-letter{
    border-radius: 50%;
    border: 1px solid #8BA84B;
    color: #8BA84B;
    background-color: #F1F4E5;
    margin-left: 16px;
    padding: 7px 10px;
    font-weight: 700;
}
.chatroom__full-name{
    font-weight: 700;
    margin-left: 6px;
}
.chatroom__contents{
    margin: 0 auto;
    display: flex;
    overflow-y: auto;
    flex: 1;
    -webkit-overflow-scrolling: touch;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 10px;
    width: 93%;
    max-width: 446px;
    padding-top: 80px;
}
.chatroom__contents-friend-message{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    max-width: 70%;
    padding: 8px 15px;
    margin: 12px 0px;
    border-radius: 12px;
    word-break: break-word;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: center;
}
.chatroom__contents-my-message{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    max-width: 70%;
    padding: 8px 15px;
    margin: 12px 0px;
    border-radius: 12px;
    word-break: break-word;
    align-self: flex-end;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;
    background-color: #8BA84B;
}
.chatroom__contents-text{
    font-size: 16px;
}
.chatroom__input-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 480px;
    height: 77px;
    display: flex;
    background-color: #FFFFFF;
    border-top: 1px solid #E5E7EB;
    position: fixed;
	left: 50%;
	transform: translateX(-50%);
}
.chatroom__input-container-form{
    display: flex;
    width: 100%;        
    align-items: flex-end;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 480px;
    height: 77px;
    background-color: #FFFFFF;
    border-top: 1px solid #E5E7EB;
    position: fixed;
	left: 50%;
	transform: translateX(-50%);
    height: auto;
    padding-top: 20px;
}
.chatroom__input-container-text{
    margin-left: 16px;
    padding: 5px 5px;
    width:80%;
    height: 30px;
    font-size: 17px;
    resize: none;
    max-height: 200px;
    box-sizing: border-box;
    border: 1px solid #8BA84B;
    min-height: 30px;
    margin-bottom: 25px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.chatroom__input-container-button{
    display: flex;
    margin-left: auto;
    margin-right: 5px;
    padding: 0px;
    border: none;
    background: none;
    margin-bottom: 20px;
}
.chatroom__input-container-text:focus {
    outline: none;
    border:2px solid #8BA84B;
}