@import url('/static/css/color.css');

input::placeholder {
	color: var(--color-text-secondary, #71717A);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	/* 24px */
}

.hover:hover {
	opacity: 0.6;
}

body {
	color: var(--color-text-primary);
	font-family: "Noto Sans JP", sans-serif;
}

.submit-btn {
	width: 100%;
	padding: 10px 16px;
	background-color: var(--color-primary);
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-weight: normal;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}